/Temp
/obj
/Library
/Logs
/ProjectBuilds
/AssetBundles
/UserSettings
*.csproj
*.unityproj
*.sln
*.suo
*.pidb
*.userprefs
balance-hashes.*
server-splits.*
serverDB-split*
Assets/StreamingAssets
Assets/StreamingAssets.meta
Assets/Resources/assetManifests*
Assets/-tk2d.*
Assets/Resources/tk2d/*
.DS_Store
TapjoyXcodeUpdatePostBuild.log
*.holderCache
*.holderCache.meta
.idea/
/Assets/Editor/P31RestKit.*
/Assets/Editor/Prime31*
/Assets/Editor/StoreKit*
/Assets/Plugins/Editor/JetBrains.*
/Assets/Plugins/Editor/JetBrains/*
*.DotSettings
/Assets/BuildConfig/GitManager.*
/Assets/ResourcesSubmodules/Offers/OfferResourcesTemp
/Assets/ResourcesSubmodules/Offers/OfferResourcesTemp.meta
/Assets/Resources/EditorGameConfig.asset
/Assets/Resources/EditorGameConfig.asset.meta
